<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androiddeveloper.the.jessefu.mvpactualcombat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".biz.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".biz.themeNews.themeNews.ThemeNewsActivity"
            android:label="@string/activity_theme_news"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".biz.webView.WebviewActivity"
            android:label="@string/activity_web"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".biz.about.AboutActivity"
            android:label="@string/activity_about"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".biz.settings.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".biz.gankGirls.GankGirlsActivity"
            android:label="@string/gank_girls"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".biz.largePic.LargePicActivity"
            android:label="@string/activity_large_pic"
            android:screenOrientation="portrait"
            ></activity>
        <!--android:theme="@style/LargePicActivityTheme"-->

        <service android:name=".Service.PersistentService"></service>
    </application>

</manifest>